{% extends 'base.html' %}
{% load static %}

{% block title %}Llista d'Autors{% endblock %}

{% block content %}
  <div class="main-container py-5">
    <h1 class="mb-4">Llista d'Autors</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Cognom</th>
            <th>Accions</th>
          </tr>
        </thead>
        <tbody>
          {% for author in authors %}
            <tr>
              <td>{{ author.first_name }}</td>
              <td>{{ author.last_name }}</td>
              <td class="text-end">
                <a href="{{ author.get_absolute_url }}" class="btn btn-sm btn-primary">
                  Saber-ne +
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
